.App {
  text-align: center;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
  width: 1120px;
  width: 90%;
  align-items: center;
}

.container > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.container > ul > li {
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 270px;
  margin: auto;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  background-color: #242424;
  color: whitesmoke;
}

.username {
  color: grey;
  font-size: 18px;
}


.phone {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1024px) {
  .container > ul > li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
  }
  h1 {
    font-size: 24px;
  }
}